@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 6px;
  background-color: #ece7eb;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  margin: 8px;
}

form#personal-form .fields,
form#skills-form .fields,
form#education-form .section,
form#experience-form .section,
.customization {
  margin: 8px;
  padding: 8px;
  border: 1px black solid;
  width: 800px;
  background-color: white;
  box-shadow: 3px 3px 8px #868686;
  position: relative;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields .line:hover {
  background-color: #eeeeee;
}

.fields label {
  margin-left: 6px;
}

.fields input {
  margin: 4px;
  padding: 2px;
  height: 1.4rem;
  width: 400px;

}

.add-btn {
  width: 150px;
  margin: 8px;
  padding: 4px;
  background-color: #73adc0;
  border: none;
  font-size: 1.1rem;
  transition: background-color 150ms ease-in;
  border: 1px black solid;
}

.add-btn:hover {
  background-color: #7fc8e0;
}

.add-btn:active {
  background-color: #62ab70;
}

.finished {
  background-color: white;
}

.del-btn {
  background-color: #ca9999;
  margin: 6px;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-bottom: 4px;
  font-size: 1.17rem;
}

.customization legend {
  font-size: 1.17rem;
  font-weight: bold;
}

.customization fieldset {
  border: 0;
}

.customization legend {
  margin-bottom: 4px;
}

.customization input {
  margin-right: 4px;
}

.customization label {
  margin-right: 8px;
}


.inputs {
  display: flex;
  align-items: center;
}

.skill-line {
  display: flex;
  justify-content: space-between;
}

.skill-line .del-btn {
  position: static;
}

.skill-line label {
  margin-right: 10px;
}

#preview {
  background-color: white;
  
}