@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 6px;
  background-color: #ece7eb;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  margin: 8px;
}

form#personal-form .fields,
form#education-form .section,
form#experience-form .section {
  margin: 8px;
  padding: 8px;
  border: 1px black solid;
  width: 800px;
  background-color: white;
  box-shadow: 3px 3px 8px #868686;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields .line:hover {
  background-color: #eeeeee;
}

.fields label {
  margin-left: 6px;
}

.fields input {
  margin: 4px;
  height: 1.2rem;
  width: 400px;

}

form button {
  width: 150px;
  margin: 8px;
  padding: 4px;
  background-color: #73adc0;
  border: none;
  font-size: 1.1rem;
  transition: background-color 150ms ease-in;
  border: 1px black solid;
}

form button:hover {
  background-color: #7fc8e0;
}

form button:active {
  background-color: #62ab70;
}

.finished {
  background-color: white;
}